@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .cometchat-alert-popup__backdrop {
    @apply bg-black/50 fixed top-0 left-0 h-full w-full z-10 flex items-center justify-center;
  }

  .cometchat-alert-popup-wrapper {
    @apply flex w-[400px] flex-col items-center gap-3 rounded-2xl border shadow-lg;
    border-color: var(--cometchat-border-color-light, #f5f5f5);
    background: var(--cometchat-background-color-01, #fff);
  }

  .cometchat-alert-popup {
    @apply flex p-6 flex-col items-center gap-3 self-stretch rounded-2xl;
    background: var(--cometchat-background-color-01, #fff);
  }

  .cometchat-alert-popup__icon-wrapper {
    @apply flex w-20 h-20 p-4 justify-center items-center rounded-full;
    background: var(--cometchat-background-color-02, #fafafa);
  }

  .cometchat-alert-popup__icon {
    @apply w-12 h-12;
    -webkit-mask: url("../../assets/block.svg") center center no-repeat;
    background: var(--cometchat-error-color);
    -webkit-mask-size: contain;
  }

  .cometchat-alert-popup__text {
    @apply flex flex-col items-center gap-2 self-stretch;
  }

  .cometchat-alert-popup__text-title {
    @apply text-center;
    color: var(--cometchat-text-color-primary, #141414);
    font: var(--cometchat-font-heading2-medium);
  }

  .cometchat-alert-popup__text-subtitle {
    @apply text-center;
    color: var(--cometchat-text-color-secondary, #727272);
    font: var(--cometchat-font-body-regular);
  }

  .cometchat-alert-popup__button-wrapper {
    @apply flex py-3 px-0 items-center gap-2 self-stretch;
  }

  .cometchat-alert-popup__button-wrapper .cometchat-button {
    @apply flex h-10 w-full py-2 px-5 justify-center items-center gap-2 self-stretch rounded-lg border bg-transparent;
    border-color: var(--cometchat-border-color-dark, #dcdcdc);
  }

  .cometchat-alert-popup__button-wrapper .cometchat-button__text {
    color: var(--cometchat-text-color-primary, #141414);
    font: var(--cometchat-font-body-medium);
  }

  .cometchat-alert-popup__button-wrapper > .cometchat {
    @apply w-full;
  }

  @media (max-width: 768px) {
    .cometchat-alert-popup-wrapper {
      @apply w-[320px];
    }
  }
}
