@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .cometchat-tab-component {
    @apply flex w-full px-2 items-start gap-2 border-t border-r bg-white dark:bg-gray-900;
    border-color: var(--cometchat-border-color-light, #f5f5f5);
  }

  .cometchat-tab-component__tab {
    @apply flex py-3 px-0 flex-col justify-center items-center gap-1 flex-1;
  }

  .cometchat-tab-component__tab-icon {
    @apply flex w-8 h-8 justify-center items-center cursor-pointer;
    background: var(--cometchat-icon-color-secondary, #a1a1a1);
    -webkit-mask-size: contain;
  }

  .cometchat-tab-component__tab-text {
    @apply text-center cursor-pointer;
    color: var(--cometchat-text-color-secondary, #727272);
    font: var(--cometchat-font-caption1-medium, 500 12px Roboto);
  }

  .cometchat-tab-component__tab-icon-active {
    background: var(--cometchat-icon-color-highlight);
  }

  .cometchat-tab-component__tab-text-active {
    color: var(--cometchat-text-color-highlight);
  }
}
